$primary-bg-color: palevioletred;
$secondary-bg-color: #ff69b4;
$btn-primary-bg: #e83e8c;
$btn-primary-hover-bg: #d6336c;
$body-bg-color: #f8d7da;

.navcolor {
  background-color: $primary-bg-color !important;
}

.parrafo-inicio {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.navbar-brand {
  size: 30px;
}

body {
  background-color: $body-bg-color;
}

.wallet {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  animation-duration: 2s;
  animation-name: agrandarse;
  animation-iteration-count: initial;
}

.balance {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: $secondary-bg-color;
  flex: 1;
}

.transactions {
  flex: 1;
  margin-left: 20px;
}

.transaction {
  padding: 10px;
  background-color: $primary-bg-color;
  border-radius: 5px;
  margin-bottom: 10px;

  .amount {
    font-weight: bold;
  }
}

.button-container {
  margin-top: 20px;
}

.bg-color {
  background-color: $secondary-bg-color;
}

@keyframes agrandarse {
  0% {
    width: 0px;
  }
  100% {
    width: 600px;
  }
}

.btn-primary {
  text-decoration: none;
  background-color: $btn-primary-bg;
  border-color: $btn-primary-bg;

  &:hover {
    background-color: $btn-primary-hover-bg;
    border-color: $btn-primary-hover-bg;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.pregunta {
  text-align: center;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

footer {
  background-color: $secondary-bg-color;
}

.card {
  border: none;
}